{% extends "layout.html" %}


{% block content %}

<div class="container p-4">
    <div class="jumbotron">
        <h1 class="display-4">¡Bienvenido(a) a HEMA!</h1>
        <p class="lead">Con HEMA podras encontrar a personas que realizan las mismas actividades de tu agrado.</p>
        <hr class="my-4">
        <p>No tienes por que evitar hacer lo que mas te gusta solo por que no encuentras conquien realizarlo e 
            inclusive no encuentras quien te enseñe a hacerlo, con HEMA lograrás expandir tus fronteras y conocer 
            a personas que tienen las mismas aficiones que tu.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
      </div>      
</div>

{% endblock %}